.header__img {
  width: 142px;
  height: 33px;
}

@media all and (max-width: 720px) {
  .header__img {
    width: 103.74px;
    height: 24.4px;
  }
}

@media all and (max-width: 600px) {
  .header__img {
    margin-left: 27px;
  }
}
