.checkbox__invisible {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(0 0 0 0);
}

.checkbox__invisible:not(:disabled):not(:checked)+.checkbox__visible:hover {
  opacity: 0.5;
}

.checkbox__invisible:checked+.checkbox__visible {
  background-image: url(../../../images/logo/heart_active.svg);
}

