.header__logo {
  background-image: url(../../../images/logo/logo.svg);
  background-size: cover;
  width: 142px;
  height: 33px;
}

@media all and (max-width: 720px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
  }
}

@media all and (max-width: 600px) {
  .header__logo {
    margin-left: 27px;
  }
}
