.modal__window {
  position: relative;
  width: 430px;
  height: 330px;
  background-color: #fff;
  border-radius: 10px;
}

@media all and (max-width: 600px) {
  .modal__window {
    width: 282px;
    height: 322px;
  }
}
