.button__submit {
  background-color: #000;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  height: 50px;
  padding: 0;
  margin-top: 18px;
  border-radius: 2px;
}

.button__submit:hover {
  opacity: 0.8;
}

@media all and (max-width: 600px) {
  .button__submit {
    font-size: 14px;
    line-height: 17px;
  }
}

